<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} &gt;&gt; {% endif %}riset.tech</title>
    <meta name="description" content="{{ description or 'Welcome to Riset Tech - Exploring technology and innovation' }}">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>

    <nav class="justify-center items-center">
        <img src="./assets/banner.png" class="w-full fixed top-0">
    </nav>
    <main class="min-h-screen">
        {{ content | safe }}
    </main>

    <!-- JavaScript -->
    <script src="/js/main.js"></script>
</body>
</html> 